VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_MEDIAPIPE_MODEL_URL=https://storage.googleapis.com/mediapipe-models/face_landmarker/face_landmarker/float16/latest/face_landmarker.task
VITE_MEDIAPIPE_WASM_URL=https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision@1.0.1/wasm
